
$titleFont: 'Ubuntu',sans-serif;
$contentFont: 'Open Sans', sans-serif;
$darkColor: #4A4A4A;
$themeColor: #85F1C1;

$breakpoint-mobile: 768px;
$breakpoint-tablet: 992px;
$breakpoint-desktop: 1200px;

p,
li,
h1,
h2,
h3,
a,
legend {
  color: $darkColor;
  font-family: $titleFont;
  text-rendering: auto;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
}

h1,
h2,
h3,
legend {
  letter-spacing: 1.8px;
  text-transform: lowercase;
  font-family: $titleFont;
}

h1 {
  font-size: 2rem;
  letter-spacing: 2px;
  // text-transform: uppercase;
}

h2,
legend {
  font-size: 1.2rem;
  margin: 1rem 0 .2rem;
}

p,
li,
article,
input,
textarea,
button {
  letter-spacing: 1px;
  font-size: .8rem;
  line-height: 1.2rem;
  text-transform: lowercase;
  margin: .8rem 0;
  font-family: $contentFont;
  text-align: justify;
  hyphens: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    font-size: .8rem;
    line-height: 1.2rem;
    text-transform: lowercase;
  }
}

article {
  ul {
    list-style: square;
    padding: 0 0 0 20px;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: .8s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}