
$titleFont: 'Ubuntu',sans-serif;
$contentFont: 'Open Sans', sans-serif;
$fontColor: #4A4A4A;
$themeColor: #85F1C1;

p,
li,
h1,
h2,
h3,
a {
  color: $fontColor;
  font-family: $titleFont;
}

h1,
h2,
h3 {
  letter-spacing: 1.8px;
  text-transform: lowercase;
  font-family: $titleFont;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
  margin: 1rem 0 .2rem;
}

p,
li,
article {
  letter-spacing: 1px;
  font-size: .8rem;
  line-height: 1rem;
  text-transform: lowercase;
  margin: .8rem 0;
  font-family: $contentFont;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    font-size: .8rem;
    line-height: 1.2rem;
    text-transform: lowercase;
  }
}

article {
  padding: 20px;
  ul {
    list-style: square;
    padding: 0 0 0 20px;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: 1s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}