/* Layout */

@font-face {
  font-family: 'kaiso';
  src: url('../fonts/kaiso.eot');
  src: url('../fonts/kaiso.eot') format('embedded-opentype'), url('../fonts/kaiso.woff2') format('woff2'), url('../fonts/kaiso.woff') format('woff'), url('../fonts/kaiso.ttf') format('truetype'), url('../fonts/kaiso.svg') format('svg');
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #85F1C1;
}

p,
li,
h1,
h2,
h3,
a {
  color: #333;
}

h1,
h2,
h3 {
  font-family: 'Bitter', sans-serif;
  letter-spacing: 2px;
  text-transform: lowercase;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

p {
  font-family: 'Bitter', sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
  text-transform: lowercase;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    text-transform: lowercase;
  }
}
